<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VolunteerApp"
        tools:targetApi="31">
        <activity
            android:name=".view.DashboardScreen.AdminDashborad.TaskProvideActivity"
            android:exported="false" />
        <activity
            android:name=".view.DashboardScreen.AdminDashborad.CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".view.DashboardScreen.AdminDashborad.ResourcesActivity"
            android:exported="false" />
        <activity
            android:name=".view.DashboardScreen.DonorDashboard.ViewUsagesActivity"
            android:exported="false" />
        <activity
            android:name=".view.DashboardScreen.DonorDashboard.ViewReportsActivity"
            android:exported="false" />
        <activity
            android:name=".view.DashboardScreen.DonorDashboard.DonateActivity"
            android:exported="false" />
        <activity
            android:name=".view.DashboardScreen.VolunteerDashboard.CurrentTasksActivity"
            android:exported="false" />
        <activity
            android:name=".view.DashboardScreen.VolunteerDashboard.AvailableTasksActivity"
            android:exported="false" />
        <activity
            android:name=".view.DashboardScreen.VolunteerDashboard.ManageAvailabilityActivity"
            android:exported="false" />
        <activity
            android:name=".view.DashboardScreen.VolunteerDashboard.ManageSkillsActivity"
            android:exported="false" />
        <activity
            android:name=".view.DashboardScreen.AdminDashborad.TaskDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".view.DashboardScreen.AdminDashborad.UserDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".view.DashboardScreen.AdminDashborad.AdminManageActivity"
            android:exported="false" />
        <activity
            android:name=".view.DashboardScreen.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".view.DashboardScreen.ServiceSeekerDashboard.UploadRequestActivity"
            android:exported="false" />
        <activity
            android:name=".view.SignUpScreen.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".view.LoginScreen.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.HomeScreen.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>